.categories__description {
    margin: 0 0 24px;
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #1e222e;
}

.categories__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #696e82;
    margin: 0 0 48px;
}

.categories__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 60px;
    padding: 0;
}

.categories__item {
    display: flex;
    gap: 6px;
    align-items: center;
}

.categories__link {
    color: #1e222e;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.info-copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #696e82;
}